{% extends "partials/base.html" %}
{% load static %}

{% block title %}Trip TnT | Login {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
	<div class="col-lg-12" style="padding-top: 50px;">
		<div class="row">
			<div class="container">
				<div class="col-lg-4 tobe " style="margin: 4rem auto;">
					<form action="" method="POST">
						{% csrf_token %}
						    {% if messages %}
					            
				                {% for message in messages %}
				                <div class="alert alert-danger">
	                                <strong>{{ message|escape }}</strong>
	                            </div>
				     
				                {% endfor %}
					           
					        {% endif %}
						<h2>
							<center>Login</center>
						</h2>
						<br>
						<!-- <div class="loginas">
							<div class="form-group">
								<label for="exampleFormControlSelect1">Login as</label>
								<select class="form-control" id="exampleFormControlSelect1">
									<option disabled="true" selected>choose</option>
									<option>Host</option>
									<option>Co-host</option>
									<option>Task Manager</option>
									<option>Guest</option>
								</select>
							</div>
						</div>
 -->
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							{% for error in form.email.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
						</div>

						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							{% for error in form.password.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
						</div>
						
						<button type="submit" class="btn btn-primary btn-block">Login</button>
						<br>
						<center>
							<h6>
								<a href="{% url 'password_reset' %}">Forget password?</a>
							</h6>
						</center>
						<center>
							<h6>
								<a href="{% url 'signup' %}">Register now</a>
							</h6>
						</center>
						<hr>

						<p style="margin: 0; padding: 0; text-align:center;">
							<a href="{% url 'social:begin' 'facebook' %}">
                                <img src="{% static 'icons/fb.svg' %}" alt="" width="35">
                            </a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}">
                                <img src="{% static 'icons/gplus.svg' %}" alt="" width="35">
                            </a>
                            <a href="{% url 'social:begin' 'twitter' %}">
                                <img src="{% static 'icons/twitter.svg' %}" alt="" width="40">
                            </a>
                            <a href="#">
                                <img src="{% static 'icons/whatsapp.jpeg' %}" alt="" width="40">
                            </a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}