{% load static %}
  <!-- footer starts -->
  <footer>
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 contact">
            <h4>CONTACT US</h4>
            <p>Attract new guest and Keep your old guest coming back. Increase booking and revenue. 68% of millenials display
              loyaltyto a brand </p>
            <ul>
              <li>
                <i class="fa fa-map-marker contact-icon"></i>36 Street Name, City Name, Nepal</li>
              <li>
                <i class="fa fa-phone contact-icon phone"></i>010-010-0110 or 020-020-0220</li>
              <li>
                <i class="fa fa-envelope contact-icon envelope"></i>info@company.com</li>
            </ul>
          </div>
          <div class="col-md-6 contact">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="name" class="form-control contact-form" id="inputName" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control contact-form" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control contact-form" id="inputSubject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control contact-form" id="inputMessage">Message</textarea>
                <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Message"> -->
              </div>
              <button type="submit" class="btn btn-primary contact-button">SEND</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <p>Copyright &copy; 2018 TripTnT</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"crossorigin="anonymous"></script>