<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Add Property</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto" rel="stylesheet">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"
    />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <link rel="stylesheet" href="{% static 'css/rewardstyle.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top tnt-nav">
        <a class="navbar-brand" href="#">TripTnT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarTogglerDemo03">
            <ul class="nav navbar-nav username">
                <li>
                    <p>Welcome,
                        <b>{{user}}</b>
                        <span>(Host)</span>
                    </p>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h4>Add Property</h4>
                 <small>Simply paste the URL of your listing below </small>

                <form class="list_form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">STR</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="platform">
                            <option value="Airbnb">Airbnb</option>
                            <option value="Booking.com">Booking.com</option>
                            <option value="Tripadvisor">tripadvisor</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleiCal1">URL Link</label>
                        <input type="text" name="url" class="form-control" id="exampleiCal1" placeholder="URL">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Listing</button>
                </form> 

    </div>

    <div class="col-lg-5">
        <div class="row">
            <h4>How To Video</h4>
            <iframe width="100%" height="200px" src="https://www.youtube.com/embed/-XSAqfK_UwY" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </div>
        <br>

    </div>

    </div>
    </div>

    <footer class="ct-footer">
        <div class="container">
            <form name="contentForm" enctype="multipart/form-data" method="post" action="">
                <div class="ct-footer-pre text-center-lg">
                    <div class="inner">
                        <span>Join TripTnT to receive updates, news &amp; events!</span>
                    </div>
                    <div class="inner">
                        <div class="form-group">
                            <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text"
                                value="">
                            <label for="nl_email" class="sr-only">Email Address</label>
                            <button type="submit" class="btn btn-motive btn-join">Join</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ct-footer-meta text-center-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <h2>
                            <a href="#" style="color: white">TripTnt</a>
                        </h2>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <address>
                            <span>TripTnT
                                <br>
                            </span>3550 Glenview Drive
                            <br> Victoria, TX, 77901
                            <br>
                            <span>Phone:
                                <a href="">361-572-8505</a>
                            </span>
                        </address>
                    </div>
                    <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                        <a href="" target="_blank">
                            <img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                        <a href="" target="_blank">
                            <img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="ct-socials list-unstyled list-inline">
                            <li>
                                <a href="" target="_blank">
                                    <img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-footer-post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <ul>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                            <li>
                                <a href="">News</a>
                            </li>
                            <li>
                                <a href="">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-7">
                        <p>
                            Copyright © 2018 TripTnt&nbsp;
                            <a href="">Privacy Policy</a>
                        </p>
                        <p>
                            <a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by InfoDevelopers
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>