<!DOCTYPE html>
<html>

<head>
    <title>Rewardslanding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/reward_billing_host.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top tnt-nav">
        <a class="navbar-brand" href="#">TripTnT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarTogglerDemo03">
            <ul class="nav navbar-nav username">
                <li>
                    <p>Welcome,
                        <b>Bob</b>
                        <span>(Host)</span>
                    </p>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row TNTcard">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <strong>Finally it's here!!</strong>    
                          
                    <ul class="firstlist">
                      <li>
                            TripTnT has launched a Loyalty Program specifically for the Short-Term Rental industry.</li> 


                    <li>The hospitality industry is very competitive. Now we can compete with the big hotel chains! </li>


                   <li> Signup now and receive 5,000 bonus points per listing... its free to sign up!</li>

                   <li> Everyone is invited: Airbnb, VRBO, Booking.com, HomeAway…
                        </li>
                      </ul>
                   
              
                <div class="slogon">Loyal visitors = better reviews</div>
                  <table>
                     <ul>
                    <tr>               
                  <td><li>Attract new guest and Keep your old guest coming back.</li></td>
                  <td> <li>A loyalty program builds a strong connection </li></td>
                </tr>
                <tr>
                    <td><li>Increase bookings and Revenue</li></td>
                     <td><li>Let your guest know that you care about them.</li></td>
                    </tr>
                    <tr>
                      <td><li>68% of millennials display loyalty to a brand</li></td>
                    </tr>
                </ul>
              </table>

                
                 <div class="slogon"> Sign Up and Learn More</div>

                 <div class="buttons text-center btn-toolbar">
                     <button type="submit" class="btn btn-outline-success  signUp_btn">Host</button>
                      <button type="submit" class="btn btn-outline-success  signUp_btn">Guest</button>
                </div>
                 </div>

            </div>
        
                
          
            </div>


          

    <footer class="ct-footer">
        <div class="container">
            <form name="contentForm" enctype="multipart/form-data" method="post" action="">
                <div class="ct-footer-pre text-center-lg">
                    <div class="inner">
                        <span>Join TripTnT to receive updates, news &amp; events!</span>
                    </div>
                    <div class="inner">
                        <div class="form-group">
                            <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text"
                                value="">
                            <label for="nl_email" class="sr-only">Email Address</label>
                            <button type="submit" class="btn btn-motive btn-join">Join</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ct-footer-meta text-center-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <h2>
                            <a href="#" style="color: white">TripTnt</a>
                        </h2>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <address>
                            <span>TripTnT
                                <br>
                            </span>3550 Glenview Drive
                            <br> Victoria, TX, 77901
                            <br>
                            <span>Phone:
                                <a href="">361-572-8505</a>
                            </span>
                        </address>
                    </div>
                    <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                        <a href="" target="_blank">
                            <img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
                        <a href="" target="_blank">
                            <img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="ct-socials list-unstyled list-inline">
                            <li>
                                <a href="" target="_blank">
                                    <img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-footer-post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <ul>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                            <li>
                                <a href="">News</a>
                            </li>
                            <li>
                                <a href="">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-7">
                        <p>
                            Copyright © 2018 TripTnt&nbsp;
                            <a href="">Privacy Policy</a>
                        </p>
                        <p>
                            <a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by InfoDevelopers
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>