<!DOCTYPE html>
<html>


<head>
    <title>Host's Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <style>
        .lists ul {
            list-style-type: none;
            display: inline;
            padding-left: 0px;
        }

        .lists ul li {
            display: inline;
            margin-left: 20px;
        }

        .details1 {
            margin-left: 0px !important;
        }

        .avatar-img>img {
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }

        .avatar-img {
            top: 0;
            right:8%;
            position: absolute;
        }

        .home-highlights {
            padding: 10px;
            box-shadow: 0px 0px 2px;
        }

        .boxs {
            padding: 10px;
            background-color: white !important;
          
        }

        .card-Sleeping-arrangements {
            padding: 10px;
        }

        .whitesmoke_background {
            background-color: white;
        }

        .top-image {
            width: 100%;
            height: 260px;
        }
        .avatars
        {
            margin-top: 30px;
        }
    </style>


</head>

<body>
    <div class="whitesmoke_background">

        <div class="container ">
            <div class="row">
                    <img src="img/service-banner.jpg" class="top-image">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 boxs">
                       
                    <div class="row  avatars">
                        
                        <div class="col-lg-8 col-md-8 col-sm-8 ">

                            <h2>Cubehouse in central Rotterdam</h2>
                            <div class="lists">
                                <h6>Rotterdam</h6>
                                <p>
                                    <ul>
                                        <li class="details1">
                                            <i class="fa fa-users"></i>&nbsp; Guests
                                        </li>
                                        <li>
                                            <i class="fa fa-trello"></i>&nbsp; bedroom
                                        </li>
                                        <li>
                                            <i class="fa fa-hotel"></i>&nbsp; beds
                                        </li>
                                        <li>
                                            <i class="fa fa-bath"></i>&nbsp; bath
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="avatar-img">
                                <img src="img/download.jpg" alt="Avatar">
                                <h6>username</h6>
                            </div>
                        </div>
                    </div>

                        <div class="home-highlights">
                            <h7>HOME HIGHLIGHTS</h7>
                            <p>
                                <strong>Lilian & Mitch is a Superhost: </strong>super host are experienced, highly rated hosts who
                                are committed to providing great stays for guest.</p>
                        
                        <br>
                        <p>Welcome to our Cubehouse! Stay in one of the iconic cube houses in the center of Rotterdam. A few
                            minutes walk from the train and great city highlights. How can we help you to get the most out
                            of your stay?</p>
                        </div>
                        <br>

                        <!-- <details>
                                        <summary>
                                            <strong>Read more about the space</strong>
                                        </summary>
                                        <p>Our cubehouse has 3 main floors. As you enter the house you have to take the stairs to the first living
                                            floor. The living floor is on the second floor of the house. On this floor you will find a relax
                                            sofa with TV/dvd-player and a fully equipped kitchen with everything you need (Nespresso/oven/microwave/dishwasher).
                                            Coffee and thee are waiting for you and are complimentary with your stay.
                    
                                        </p>
                                    </details> -->
                        <br>

                        <!-- <a href="#">Contact host</a> -->



                        <div class="Amenities">
                            <h5>Amenities</h5>                            
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="fas fa-wifi"></i> Kitchen</td>
                                            <td>
                                                <i class="fas fa-iron"></i> Iron</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fas fa-wifi"></i> Wifi</td>
                                            <td>
                                                <i class="fas fa-tv"></i> Cable TV</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fas fa-laptop"></i> Laptop friendly workspace</td>
                                            <td>
                                                <i class="fas fa-hanger"></i> Hangers</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <a href="#">show all amunities</a>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h3>Sleeping arrangements</h3>
                                <br>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <div class="card card-Sleeping-arrangements">
                                    <h6>Bed Room 1</h6>
                                    <p>1 single bed</p>

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <div class="card card-Sleeping-arrangements">
                                    <h6>Bed Room 2</h6>
                                    <p>2 single bed</p>

                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class = "clear-fix"></div> -->
<br>
                        <div class="house-rules">
                            <h5>Policies</h5>
                            <hr>
                            <ul style = "padding-left: 0px; list-style-type: none;">
                                <li ><h6>House rules</h6></li>
                                <li>No smoking</li>
                                <li>Not suitable for pets</li>
                                <li>No parties or events</li>
                            </ul>
                            <hr>
                            <h6>cancellation</h6>
                            Strict policy – Free cancellation    within 48 hours
                            Cancel within 48 hours of booking and 14 days before check-in to get a full refund.
                        </div>
                        <hr>
                       <div class="row  avatars">
                            <div class="col-lg-8 col-md-8 col-sm-8 ">
                                <h2>Hosted by Lilian & Mitch</h2>
                                <div class="lists">
                                    <h6>Rotterdam, Netherland. Joined in December 2012</h6>
                                    <p>
                                        <ul>
                                            <li class="details1">
                                                <i class="fa fa-users"></i>&nbsp; 450 Reviews
                                            </li>
                                            <li>
                                                <i class="fa fa-trello"></i>&nbsp; verified
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="avatar-img">
                                    <img src="img/download.jpg" alt="Avatar">
                                    <h6>username</h6>
                                </div>
                            </div>
                        </div>
                        <hr>

                            <p><strong>Lilian & Mitch is a Superhost.&nbsp;</strong>Superhosts are experienced, highly rated hosts who are committed to providing great stays for guests.</p>
                            <hr>
                            <p>Hi, Nice to meet you! I am Lilian. I work as a teacher.I like visiting places and meeting people. I am Mitch, together with my mom Lilian we will make your stay as good as possible. I can tell you everything about Rotterdam and its hotspots. We are looking forward to meet you!</p>
                            <p>Response rate:&nbsp;<strong>100%</strong></p>
                            <p>Response time:&nbsp;<strong>within an hour</strong></p>

                            <button class="btn btn-info">Contact host</button>

                            <hr>
                            <p><strong>Always communicate through Airbnb</strong> &nbsp; To protect your payment, never transfer money or communicate outside of the Airbnb website or app. &nbsp; <a href="#">Learn more</a></p>

                            <hr>

                            <div class="neighborhood">
                                <h3>The neighborhood</h3>
                                <p>Lilian & Mitch's home is located in Rotterdam,South Holland,Netherlands.</p>
                                <p>Our cubehouse is located in the center of Rotterdam, near al the highlights of the city. Only a few minutes away from the ''Markthall'' and the big open air market. On Tuesdays and Saturdays you will find here one of the largest markets in Europe.</p>
                            </div>
                            <div class="guide">
                                <p><a href="">Lilian & Mitch's Guidebook</a></p>
                                <div class="mapouter"><div class="gmap_canvas"><iframe width="930" height="392" id="gmap_canvas" src="https://maps.google.com/maps?q=infodevelopers&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{text-align:right;height:392px;width:930px;}.gmap_canvas {overflow:hidden;background:none!important;height:392px;width:930px;}</style></div>
                            </div>

                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
        </div>

</body>

</html>